{% extends 'modal.html.twig' %}

{% block modal_id %}createPieceModal{% endblock %}

{% block modal_content %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
            Create new piece
        </h4>
    </div>
    <form action="{{ path('jahller_artlas_homepage') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <div class="modal-body">
            <div class="form-group {% if form.imageFile.vars.errors|length %}has-error has-feedback{% endif %}">
                {{ form_label(form.imageFile) }}
                {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
                {% if form.imageFile.vars.errors|length %}
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span id="{{ form.imageFile.vars.id }}" class="sr-only">(error)</span>
                    <span class="help-block">{{ form_errors(form.imageFile) }}</span>
                {% endif %}
            </div>

            <ul id="tag-fields-list" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}">
                {{ form_widget(form.tags) }}
                {% for tagField in form.tags %}
                    <li>
                        {{ form_errors(tagField) }}
                        {{ form_widget(tagField) }}
                    </li>
                {% endfor %}
            </ul>

            <a href="#" id="add-another-tag">Add tag</a>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary'} }) }}
        </div>
        {{ form_rest(form) }}
    </form>

    <script type="text/javascript">
        // keep track of how many tag fields have been rendered
        var tagCount = '{{ form.tags|length }}';
    </script>
{% endblock %}