{% extends 'base.html.twig' %}

{% block title %}StreetArtlas{% endblock %}

{% block body %}
    <div id="content" class="frontend" ng-app="frontend" ng-cloak  ng-controller="FrontendController">
        <div id="navigation">
            <div class="element">
                <button id="createPiece" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Add Piece">
                    <i class="fa fa-lg fa-fw fa-paint-brush"></i>
                </button>
            </div>
            <div class="element">
                <a href="{{ path('jahller_artlas_map') }}" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Switch to map view">
                    <i class="fa fa-lg fa-fw fa-map"></i>
                </a>
            </div>
            <div class="element">
                <a href="https://github.com/jahller/streetartlas" target="_blank" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Show on GitHub">
                    <i class="fa fa-lg fa-fw fa-github-alt"></i>
                </a>
            </div>
        </div>

        <div id="pieces">
            <div class="piece" ng-repeat="(key, piece) in pieceManager.pieces | orderBy:orderAttribute:orderDirection">
                <div class="image" ng-click="actions.showPieceModal(piece)" data-id="{[ piece.id ]}">
                    {% image '@JahllerArtlasBundle/Resources/public/images/ghostery.png' %}
                        <img src="{{ asset_url }}" alt="Loading" ng-mouseenter="actions.showEye($event)" ng-mouseleave="actions.hideEye($event)" />
                    {% endimage %}
                    <i class="fa fa-eye"></i>
                </div>
                <div class="tag-list">
                    <span ng-repeat="(tagKey, tag) in piece.tags" class="badge">
                        {[ tag.title ]}
                    </span>
                </div>
            </div>
        </div>

        {{ include('JahllerArtlasBundle:Piece:show_modal.html.twig') }}
        {{ include('JahllerArtlasBundle:Piece:create_modal.html.twig') }}
    </div>

    {#{{ include('JahllerArtlasBundle:Piece:new.html.twig', { 'form': form }) }}#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    {% javascripts  'bundles/jahllerartlas/js/src/piece/piece-repository.js'
                    'bundles/jahllerartlas/js/src/piece/piece-manager.js'
                    'bundles/jahllerartlas/js/src/frontend/frontend-app.js'
                    'bundles/jahllerartlas/js/src/frontend/controller/frontend-controller.js'
                    output='js/compiled/frontend.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}