{% extends 'base.html.twig' %}

{% block title %}StreetArtlas{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/jahllerartlas/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="content">
        <div id="navigation">
            <button id="createPiece" type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Add Piece">
                <i class="fa fa-lg fa-paint-brush"></i>
            </button>
            <a href="https://github.com/jahller/streetartlas" target="_blank" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Show on GitHub">
                <i class="fa fa-lg fa-github-alt"></i>
            </a>
        </div>

        <div id="map"></div>
    </div>

    {{ include('JahllerArtlasBundle:Piece:new.html.twig', { 'form': form }) }}
{% endblock %}

{% block dynamic_javascripts %}
    <script type="text/javascript">
        function addMarker() {
        {% for piece in pieces %}
            var contentString{{ loop.index }} = '<div id="content">' +
                    '<img src="{{ asset(path('jahller_artlas_piece_image_preview', {'pieceId': piece.id, 'size': 'lightbox'})) }}" alt="Example" />' +
                    '</div>';

            var infowindow{{ loop.index }} = new google.maps.InfoWindow({
                content: contentString{{ loop.index }}
            });

            var marker{{ loop.index }} = new google.maps.Marker({
                position: {lat: {{ piece.attachment.exifData.latitude }}, lng: {{ piece.attachment.exifData.longitude }}},
                map: map,
                title: 'Piece {{ loop.index }}'
            });

            marker{{ loop.index }}.addListener('click', function() {
                infowindow{{ loop.index }}.open(map, marker{{ loop.index }});
            });
        {% endfor %}
        }
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@JahllerArtlasBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTy4gSGEtYMLZiUQ0M04-oWTm5746BFOI&callback=initMap" async defer></script>
{% endblock %}